iframe {
  border: none;
  width: 100%;
}
body {
  font-family: "Hiragino Sans", "Meiryo", sans-serif;
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 0px;
  height: 100vh;
  /* overflow: hidden; */
  color: #777;
  letter-spacing: 0.9px;
  font-size: 0.84em;
}
dialog {
  outline: none;
  border: 2px solid #aaa;
  border-radius: 9px;
}
.modal-frame {
  background-color: #afafaf;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.modal-close-button {
  top: 10px;
  right: 10px;
  background-color: none;
}
.container {
  /* max-width: 800px; */
  margin: 0 auto;
  background-color: white;
  padding: 0px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
  height: 100%;
}
h1 {
  color: #2c3e50;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
}
h4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
button {
  color: #4b4b4b;
  background-color: #ededed;
  border: 1px solid #464646;
  padding: 2px 9px;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}
button:hover {
  background-color: #b6b6b6;
}

.window-preview {
  width: 480px;
  height: 444px;
  border: 2px solid #333;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  margin: 20px auto;
  color: white;
  box-sizing: border-box;
}
.window-item {
  height: 111px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  display: flex;
  align-items: center;
}
.window-item:last-child {
  border-bottom: none;
}
.window-item.selected {
  background-color: rgba(61, 174, 233, 0.5);
}
.item-name {
  font-size: 18px;
  font-weight: bold;
}
.help-text {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}
.params {
  margin-top: 30px;
}
.param-group {
  margin-bottom: 20px;
}
h2 {
  /* color: #3498db; */
  /* font-size: 18px; */
  /* margin-bottom: 10px; */
}
.param-item {
  display: flex;
  margin-bottom: 5px;
  border-bottom: 1px dotted #eee;
  padding-bottom: 5px;
}
.param-name {
  font-weight: bold;
  width: 200px;
  color: #555;
}
.param-value {
  flex-grow: 1;
}
.script-box {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  font-family: monospace;
  margin-top: 5px;
  white-space: pre-wrap;
}
#param-editor {
  width: 100%;
}
.editor-section {
  margin-top: 30px;
  border-top: 2px solid #3498db;
  padding-top: 20px;
  overflow: scroll;
}
.editor-title {
  /* color: #2c3e50; */
  /* font-size: 20px; */
  /* margin-bottom: 15px; */
}
.editor-statusLabel {
  font-size: 0.8rem;
  margin: 4px;
  width: fit-content;
  padding: 4px;
  border-radius: 3px;
}
.status-deactive {
  background: #e9e9e9;
  color: #555;
}
.status-active {
  background: #ffcbcb;
  color: #4b3434;
}

.edit-group {
  /* margin-bottom: 25px; */
  background: #f9f9f9;
  /* padding: 15px; */
  border-radius: 5px;
}
.edit-group h3 {
  color: #3498db;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
}
.edit-field {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.edit-field-script {
  margin-bottom: 10px;
  /* display: flex; */
  align-items: center;
}
.edit-label {
  width: 180px;
  font-weight: bold;
  color: #555;
}
.edit-buttonArray {
  display: flex;
}
.edit-input {
  flex-grow: 1;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.edit-number {
  max-width: 50px;
}
.edit-hasDiff::before {
  content: "*";
}
.edit-reset {
  margin: 0 5px;
}

#edit-id {
  pointer-events: none;
  color: #888;
  backgroud-color: #dbdcdd;
  border-width: 0px;
  box-shadow: none;
}
.disable-textarea {
  pointer-events: none;
  color: #888;
  backgroud-color: #dbdcdd;
  border-width: 0px;
  box-shadow: none;
}
.edit-input:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 3px rgba(52, 152, 219, 0.5);
}
.edit-checkbox {
  margin-right: 5px;
}
.edit-textarea {
  width: 100%;
  min-height: 80px;
  font-family: noto;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  outline: none;
  color: #555;
  letter-spacing: 0.8px;
}
.edit-textarea-syntax {
}
.execute-button {
  /* right: 0px; */
  /* background: #09b536; */
  /* color: #eee; */
}

.edit-textarea:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 3px rgba(52, 152, 219, 0.5);
}
.edit-button {
  /* border-radius: 3px; */
  margin: 3px;
}

.button-new {
  border: 1px dashed;
  background: none;
  cursor: pointer;
}
.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.editor-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.apply-button {
  background-color: #2ecc71;
  color: white;
}
.reset-button {
  background-color: #e74c3c;
  color: white;
}
.send-button {
  background-color: #3498db;
  color: white;
}
.btn-disable {
  pointer-events: none;
  opacity: 0.5;
}
.disable {
  pointer-events: none;
  opacity: 0.5;
}

label {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

/* select { */
/* flex-grow: 1; */
/* padding: 6px 10px; */
/* border: 1px solid #ddd; */
/* border-radius: 4px; */
/* color: #444; */
/* } */
select {
  padding: 3px;
  outline: none;
  margin: 3px;
  color: #555;
  font-family: noto;
  letter-spacing: 0.9px;
  border-radius: 2px;
}

select:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 3px rgba(52, 152, 219, 0.5);
}

.panel {
  /* display: flex; */
}
#panel1 {
  display: flex;
}

#window-settings {
}
.tab-container {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.tab-headers {
  display: flex;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}
.tab-header {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
}
.tab-contents {
  padding: 10px;
}
